*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 7vh;
    justify-content: space-between;
    align-items: center;

    background-color: red;    
}

 .lista {
    list-style: none;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;

    
 }

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

