
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
/*---------------------*/
/*estilização do header*/
/*---------------------*/
header {
    /*posição*/
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 7vh;
    justify-content: space-between;
    align-items: center;

    /*Cor*/
    background-color: #121212;
    color: #00cbd6;
    transition: color 0.3s ease;
    border-bottom: 4px solid #272727;
    font-size: 110%;
}

/*--------------------------*/
/*animação de passar o mouse*/
/*--------------------------*/
header .logo,header .lista li {
    transition: color 0.3s ease;
}

header .logo:hover,header .lista li:hover {
    color: #8224c5;
}
/*--------------------------*/


.lista {
    list-style: none;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
 }

 .logo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------*/
/*Estilização da main-home*/
/*------------------------*/
.home {
    /*Posição*/
    width: 100vw;
    height: 33%;
    display: flex;
    flex-direction: column;
    padding-top: 4em;

    /*Cor*/
    background-color: #121212;
    color: #00cbd6;
    
}

.home h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.home img{
    width: 50%;
    margin-inline: 25%;
}

.home2{
    width: 100vw;
    height: 33%;
    
    background-color: red;
}

/*teste*/
